.table-responsive
  %table.table.table-condensed.table-hover.table-bordered
    - if picture.camera?
      %tr
        %td  Camera
        %td= picture.camera
    - if picture.focal_length?
      %tr
        %td  Focal length
        %td
          = picture.focal_length
          mm
    - if picture.aperture?
      %tr
        %td  Aperture
        %td
          = 'f/' + picture.aperture.to_s
    - if picture.shutter_speed?
      %tr
        %td  Shutter speed
        %td
          = picture.shutter_speed
          s
    - if picture.iso_speed?
      %tr
        %td  ISO speed
        %td= picture.iso_speed
    - if picture.flash?
      %tr
        %td  Flash
        %td= exif_flash(picture)
    - if picture.gallery.ratings_enabled
      %tr
        %td  Rating count
        %td= picture.ratings.size
      %tr
        %td  Average rating
        %td= picture.average_rating
    - if picture.dimensions?
      %tr
        %td  Original width
        %td= picture.width
      %tr
        %td  Original height
        %td= picture.height
    %tr
      %td  Tags
      - if writable?
        %td= best_in_place picture, :tag_list, path: [picture.gallery, picture]
      - else
        %td= picture.tag_list
