.modal{id: lightbox_picture_id(picture), tabindex: -1, role: 'dialog', aria: {labelledby: lightbox_picture_id(picture, label: true)}.merge(picture_aria_hidden(picture))}
  .modal-dialog
    .modal-content
      .modal-header
        = render 'pictures/lightbox_close'
        = render 'pictures/lightbox_title', picture: picture
      .modal-body
        .text-center
          .image
            = link_to picture.image.url do
              = image_tag nil, data: {src: picture.image.url(:medium)}, title: picture
              %noscript
                = image_tag picture.image.url(:medium), title: picture
          = rating_for picture
          = nav_for picture
      .modal-footer
        - unless picture.photographed_at.nil?
          Photographed
          = succeed ',' do
            = timestamp_ago picture.photographed_at
          uploaded
        - else
          Uploaded
        = succeed '.' do
          = timestamp_ago picture.created_at
        = render 'pictures/info', picture: picture
