.btn-group
  %button.btn.btn-default.dropdown-toggle{data: {toggle: 'dropdown'}}
    %span.caret
  %ul.dropdown-menu{role: 'menu'}
    %li
      = link_to gallery_picture_download_path(picture.gallery, picture) do
        = icon :download
        Download
    %li
      = link_to gallery_picture_path(picture.gallery, picture), data: {no_turbolink: true} do
        = icon :share
        Share
    %li
      = link_to picture_path(picture.image_fingerprint) do
        = icon :share
        Share without gallery
    %li
      %a{data: {toggle: 'collapse'}, href: lightbox_picture_id(picture, info: true, hash: true), aria: {expanded: 'false', controls: lightbox_picture_id(picture, info: true)}}
        = icon :info_sign
        Metadata
    - if @boss_token
      %li
        = link_to gallery_picture_delete_path(@boss_token, picture), method: :delete, data: {confirm: 'Really delete?'} do
          = icon :trash
          Delete
