.text-center
  - if picture.photographed_at?
    Photographed
    = succeed ',' do
      = timestamp_ago picture.photographed_at
    uploaded
  - else
    Uploaded
  = succeed '.' do
    = timestamp_ago picture.created_at

- if @milestones && @milestones.any?
  %br
  - @milestones.each do |milestone|
    .text-center
      %em
        = succeed(': ') do
          = milestone.description
      = relative_distance_of_time_in_words(milestone.time, picture.order_date)

= render 'pictures/info', picture: picture
