= javascript_pack_tag 'main'

- if @picture.gallery.client_encrypted
  -# = javascript_pack_tag 'client-encryption', async: true
  = javascript_pack_tag 'client-encryption'

- content_for :title do
  = "\"#{@picture}\""
  on IMGSHR

- unless hide_gallery?
  #gallery{data: {slug: @picture.gallery.slug}}

.content-header.col-xs-12
  - if writable?
    = render 'back', picture: @picture

    %h2
      = best_in_place @picture,
        :title,
        url: [@picture.gallery, @picture],
        place_holder: '<small>Set a title by clicking here!</small>'

    = render 'pictures/menu', picture: @picture

  - else
    %h2= @picture

.picture
  .row.text-center
    .col-xs-12
      = render 'pictures/picture_image', picture: @picture
      = rating_for @picture unless hide_gallery?

  .row
    .col-sm-2.col-md-3
    .metadata.col-xs-12.col-sm-8.col-md-6
      = render 'pictures/picture_metadata', picture: @picture
    .col-sm-2.col-md-3
