.modal#filter{tabindex: -1, role: 'dialog', aria: {hidden: true, labelledby: 'label_filter'}}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{data: {dismiss: 'modal'}}
          %span{aria: {hidden: true}}
            &times;
          %span.sr-only Close
        %h4.modal-title#label_filter Filter pictures

      = form_tag gallery_filter_path(@gallery), method: :get do
        .modal-body
          .row.form-group
            .col-xs-12.col-sm-3
              = label_tag :tags
            .col-xs-12.col-sm-9
              = text_field_tag :tags, params[:tags], class: 'form-control', placeholder: 'Comma-separated list'
          .row.form-group
            .col-xs-12.col-sm-3
              = label_tag :since
            .col-xs-12.col-sm-9
              = date_field_tag :since, params[:since], class: 'form-control', placeholder: 'YYYY-MM-DD'
          .row.form-group
            .col-xs-12.col-sm-3
              = label_tag :until
            .col-xs-12.col-sm-9
              = date_field_tag :until, params[:until], class: 'form-control', placeholder: 'YYYY-MM-DD'
          .row.form-group
            .col-xs-12.col-sm-3
              = label_tag :sort_by
            .col-xs-12.col-sm-9
              = select_tag :sort_by, options_for_select([:order_date, :created_at], params[:sort_by]), class: 'form-control'
          .row.form-group
            .col-xs-12.col-sm-3
              = label_tag :reverse
            .col-xs-12.col-sm-9
              = check_box_tag :reverse, '', params[:reverse]
          .row.form-group
            .col-xs-12.col-sm-3
              = label_tag :rating
            .col-xs-12.col-sm-9
              = text_field_tag :rating, params[:rating], class: 'form-control slider', data: rating_slider_attributes

          -# .row
          -#   .col-xs-12.col-sm-3
          -#     = label_tag :used_tags
          -#   .col-xs-12.col-sm-9.tag-cloud
          -#     = cache [@gallery, :show, :tags] do
          -#       - tag_cloud(@gallery.pictures.tag_counts, %w[tc1 tc2 tc3 tc4]) do |tag, css_class|
          -#         = link_to tag.name, gallery_filter_path(@gallery, tags: tag.name), class: css_class

        .modal-footer
          %button.btn.btn-success{type: :submit}
            = icon :ok
            Apply
          = link_to gallery_path(@gallery), class: 'btn btn-warning' do
            = icon :ban_circle
            Reset
          %button.btn.btn-default{data: {dismiss: 'modal'}}
            = icon :remove
            Close
