- content_for :title do
  = @gallery
  on IMGSHR

- content_for :auto_discovery do
  = auto_discovery_link_tag :atom, gallery_url(@gallery.slug, format: :atom)

= render 'galleries/boss_token'

.content-header
  .row
    .col-md-8
      .text-center
        - if writable?
          %h2= best_in_place @gallery, :name, nil: "#{@gallery.slug} <small>(Click here to edit!)</small>"
        - else
          %h2= @gallery

    .col-md-4
      .pull-right
        = render 'galleries/menu', gallery: @gallery

        - unless timeline?
          %p.pull-right
            Last update was
            = succeed '.' do
              = timestamp_ago @gallery.last_update

= render 'galleries/upload'
= render 'galleries/info'
