.modal#info{tabindex: -1, role: 'dialog', aria: {hidden: true, labelledby: 'label_info'}}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{data: {dismiss: 'modal'}}
          %span{aria: {hidden: true}}
            &times;
          %span.sr-only Close
        %h4.modal-title#label_info Gallery info
      .modal-body
        %table.table.table-bordered
          %tr
            %td Slug
            %td= link_to @gallery.slug, @gallery
          %tr
            %td Visits
            %td= @gallery.visits
          %tr
            %td Picture count
            %td= @gallery.pictures.count
          %tr
            %td Created
            %td= timestamp_ago @gallery.created_at
          - if @boss_token
            %tr
              %td Boss link
              %td= link_to @boss_token, gallery_delete_path(@boss_token)
            %tr
              %td Read only
              %td
                = check_box_tag :read_only, nil, @gallery.read_only, data: {uri: gallery_path(@gallery)}
            %tr
              %td Ratings
              %td
                = check_box_tag :ratings_enabled, nil, @gallery.ratings_enabled, data: {uri: gallery_path(@gallery)}
            %tr
              %td Endless page
              %td
                = check_box_tag :endless_page, nil, @gallery.endless_page, data: {uri: gallery_path(@gallery)}
      .modal-footer
        %button.btn.btn-default{data: {dismiss: 'modal'}}
          = icon :remove
          Close
