.modal.fade{id: "lightbox#{picture.id}", tabindex: -1, role: 'dialog', aria: {hidden: true, labelledby: 'label_lightbox'}}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{data: {dismiss: 'modal'}}
          %span{aria: {hidden: true}}
            &times;
          %span.sr-only Close
        %h4.modal-title#label_lightbox
          = link_to picture.image.url do
            = icon :download
          = best_in_place picture, :title, path: picture_path(picture.gallery.slug, picture), nil: "<small>Set a title by clicking here!</small>"
      .modal-body
        .text-center
          = link_to picture.image.url do
            = image_tag picture.image.url(:medium), title: picture
      .modal-footer
        %p
          - if picture.photographed_at
            Photographed
            = succeed ',' do
              = timestamp_ago picture.photographed_at
            uploaded
          - else
            Uploaded
          = succeed '.' do
            = timestamp_ago picture.created_at
