.modal.fade{id: lightbox_picture_id(picture), tabindex: -1, role: 'dialog', aria: {labelledby: lightbox_picture_id(picture, label: true)}.merge(picture_aria_hidden(picture))}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{data: {dismiss: 'modal'}}
          %span{aria: {hidden: true}}
            &times;
          %span.sr-only Close
        %h4.modal-title{id: lightbox_picture_id(picture, label: true)}
          = link_to picture.image.url do
            = icon :download
          = best_in_place picture, :title, path: [picture.gallery, picture], nil: "<small>Set a title by clicking here!</small>"
      .modal-body
        .text-center
          = link_to picture.image.url do
            = image_tag picture.image.url(:medium), title: picture
      .modal-footer
        %p
          - if picture.photographed_at
            Photographed
            = succeed ',' do
              = timestamp_ago picture.photographed_at
            uploaded
          - else
            Uploaded
          = succeed '.' do
            = timestamp_ago picture.created_at
