.btn-toolbar
  .btn-group
    - if writable?
      = link_to '#', class: 'btn', data: {toggle: 'modal', target: '#upload'} do
        = icon :upload
        Upload
    = link_to '#', class: 'btn', data: {toggle: 'modal', target: '#filter'} do
      = icon :filter
      Filter
    - if @boss_token
      = link_to '#', class: 'btn', data: {toggle: 'modal', target: '#info'} do
        = icon :cog
        Settings
    - else
      = link_to '#', class: 'btn', data: {toggle: 'modal', target: '#info'} do
        = icon :info_sign
        Info
    - if gallery.endless_page
      = link_to '#', class: 'btn', id: 'endless-toggle' do
        = icon :fast_forward, class: 'endless-toggle'
        %span.text Endless

= render 'galleries/upload'
= render 'galleries/filter'
= render 'galleries/info'
