.btn-toolbar
  .btn-group
    - if writable?
      = link_to '#', class: 'btn btn-default', data: { toggle: 'modal', target: '#upload' } do
        = icon :upload
    = link_to '#', class: 'btn btn-default', data: { toggle: 'modal', target: '#filter' } do
      = icon :filter
    = link_to '#', class: 'btn btn-default', data: { toggle: 'modal', target: '#info' } do
      - if @boss_token
        = icon :cog
      - else
        = icon :info_sign
    - if @boss_token
      = link_to '#', id: 'toggle-select', class: 'btn btn-default' do
        = icon :check
        Select

= render 'galleries/upload'
= render 'galleries/filter'
= render 'galleries/info'
