%h2 Galleries

%table.table.table-striped
  %tr
    %th #
    %th Slug
    %th Name
    %th Number of images
    %th Visits
    %th Created at
    %th
  - @galleries.each do |gallery|
    %tr
      %td= gallery.id
      %td= link_to gallery.slug, gallery_path(gallery.slug)
      %td= best_in_place gallery, :name
      %td= gallery.pictures.count
      %td= gallery.visits
      %td= timestamp_ago gallery.created_at
      %td
        = link_to gallery_path(gallery), method: :delete, data: {confirm: "Really delete #{gallery}?"} do
          = icon :trash
