- if logged_in? && (admin? || show_create_button?)
  .col-xs-12
    = link_to galleries_path, method: :post, class: 'pull-right btn btn-default' do
      = icon :plus_sign
      Create gallery!

- if logged_in?
  = render 'galleries'

- else
  .col-xs-12
    .jumbotron.jumbotron-color.text-center
      %h1 Welcome!
      %p
        This is a simple image gallery sharing website.
      - if show_create_button?
        %p
          = link_to galleries_path, method: :post, class: 'btn btn-lg btn-danger' do
            = icon :plus_sign
            Create gallery!
