= content_for :auto_discovery do
  = auto_discovery_link_tag :atom, gallery_url(@gallery.slug, format: :atom)
  
.gallery-header
  .pull-right
    .btn-toolbar
      .btn-group
        = link_to '#', class: 'btn', data: {toggle: 'modal', target: '#upload'} do
          = icon :upload
          Upload
        = link_to '#', class: 'btn', data: {toggle: 'modal', target: '#info'} do
          = icon :info_sign
          Info
  .text-center
    %h2= best_in_place @gallery, :name, nil: "#{@gallery.slug} <small>(Click here to edit!)</small>"

= render partial: 'upload'
= render partial: 'info'

%ul
  - @picture_times.each do |time, pictures|
    .row
      %center
        %h3.picture-grid-time= time
      - pictures.in_groups_of(4, false).each do |group|
        .row
          - group.each do |picture|
            .col-md-3
              = link_to '#', class: 'thumbnail', data: {toggle: 'modal', target: "#lightbox#{picture.id}"} do
                = image_tag picture.image.url(:thumb), title: picture
            = render partial: 'lightbox', locals: {picture: picture}
