= javascript_pack_tag 'main'

- if @gallery.client_encrypted
  -# = javascript_pack_tag 'client-encryption', async: true
  = javascript_pack_tag 'client-encryption'

- boss_token = writable? ? @boss_token : nil
#gallery{data: {slug: @gallery.slug, boss_token: boss_token}}
  = render 'header'

  - if @pictures.empty?
    = render 'empty_gallery'
  - else
    #pictures.col-xs-12{data: {endless: @gallery.endless_page}}
      #picture_grid
        = render partial: 'pictures/picture', collection: @pictures

      = render 'pagination'

= react_component :ScrollToTopButton
