.header
  .pull-right
    .btn-toolbar
      .btn-group
        = link_to '#', class: 'btn btn-default', data: {toggle: 'modal', target: '#upload'} do
          = icon :upload
          Upload
  .text-center
    %h2= best_in_place @gallery, :name, nil: @gallery.slug

= render partial: 'upload'

%ul
  - @gallery.pictures.in_groups_of(4, false).each do |group|
    .row
      - group.each do |picture|
        .col-xs-6.col-md-3
          = link_to picture.image.url, class: 'thumbnail' do
            = image_tag picture.image.url(:thumb)
