.gallery-header
  .pull-right
    .btn-toolbar
      .btn-group
        = link_to '#', class: 'btn', data: {toggle: 'modal', target: '#upload'} do
          = icon :upload
          Upload
        = link_to '#', class: 'btn', data: {toggle: 'modal', target: '#info'} do
          = icon :info_sign
          Info
  .text-center
    %h2= best_in_place @gallery, :name, nil: "#{@gallery.slug} <small>(Click here to edit!)</small>"
    - if @last_picture
      %p.pull-right
        Last update was
        = succeed '.' do
          = timestamp_ago @last_picture.created_at

= render partial: 'upload'
= render partial: 'info'

%ul
  - @gallery.pictures.order('created_at desc').in_groups_of(4, false).each do |group|
    .row
      - group.each do |picture|
        .col-xs-6.col-md-3
          = link_to '#', class: 'thumbnail', data: {toggle: 'modal', target: "#lightbox#{picture.id}"} do
            = image_tag picture.image.url(:thumb)
        = render partial: 'lightbox', locals: {picture: picture}
