!!! 5

%html
  %head
    %title= content_for?(:title) ? yield(:title) : 'IMGSHR'

    %meta{charset: 'utf-8'}
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1.0'}

    = stylesheet_link_tag 'application',
      media: :all,
      data: { turbolinks_track: true, turbolinks_eval: false },
      integrity: true

    = csrf_meta_tag

    = javascript_include_tag 'application',
      data_turbolinks_track: true,
      integrity: true

    = render partial: 'shared/manifest'

    = yield :auto_discovery

  %body{class: controller_class}
    - if Rails.env.development?
      .debug_params
        %pre= params

    .container
      %header.page-header
        = render 'shared/menu'
        %h1.text-muted= brand

      .row.flash-messages
        = render partial: 'shared/flash_messages'

      .row
        = yield

      = render partial: 'shared/footer'

    #modal_container
