!!! 5

%head
  %title= content_for?(:title) ? yield(:title) : 'IMGSHR'
  
  %meta{charset: 'utf-8'}
  %meta{name: 'viewport', content: 'width=device-width, initial-scale=1.0'}

  = stylesheet_link_tag 'application', media: :all, data_turbolinks_track: true
  = csrf_meta_tag

%body
  %main#content
    .container
      .row
        = yield

  = javascript_include_tag 'application', data_turbolinks_track: true
