!!! 5

%head
  %title= content_for?(:title) ? yield(:title) : 'IMGSHR'
  
  %meta{charset: 'utf-8'}
  %meta{name: 'viewport', content: 'width=device-width, initial-scale=1.0'}

  = stylesheet_link_tag 'application', media: :all, data_turbolinks_track: true
  = csrf_meta_tag

%body
  .container
    .page-header
      %ul.nav.nav-pills.pull-right
        %li
          = link_to root_path do
            = icon :home
            %span.sr-only Home
        %li
          = link_to galleries_path do
            = icon :list
            %span.sr-only Index
      %h1.text-muted= brand

    .row.flash-messages
      = render partial: 'shared/flash_messages'

    .row
      = yield

  = javascript_include_tag 'application', data_turbolinks_track: true
