!!! 5

%html
  %head{itemscope: true}
    %title= content_for?(:title) ? yield(:title) : 'IMGSHR'

    %meta{charset: 'utf-8'}
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1.0'}

    %meta{name: 'robots', content: 'noindex'}

    = stylesheet_link_tag 'application',
      media: :all,
      data: { turbolinks_track: true, turbolinks_eval: false },
      integrity: true

    = csrf_meta_tag

    -# = javascript_pack_tag 'main'
    -# = javascript_include_tag 'application',
    -#   data_turbolinks_track: true,
    -#   integrity: true,
    -#   async: true,
    -#   defer: true
    = javascript_include_tag 'application',
      data_turbo_track: true,
      type: 'module'

    = render partial: 'shared/manifest'

    = preload_link_tag 'bootstrap/glyphicons-halflings-regular.woff2', as: :font

    = yield :auto_discovery
    = yield :gallery_meta_tags

  %body{class: controller_class}
    - if Rails.env.development?
      .debug_params
        %pre= params

    .container
      %header.page-header
        = render 'shared/menu'
        %h1.text-muted= brand

      .row.flash-messages
        = render partial: 'shared/flash_messages'

      .row
        = yield

      = render partial: 'shared/footer'

    #modal_container
